*{margin:0; padding:0}
body{
	background-color: #a80808;
}
#Curriculum{
	margin: 0;
	width: 20px;
	height: 20px;
	background-image: url(https://78.media.tumblr.com/d1d1eab09134be01ea5fd1c47a00bf6c/tumblr_inline_mtm7vypGBu1s839qr.gif);
}
#Menu{
	display: grid;
	grid-template-columns: repeat(2, minmax(150px, 1fr));
	position: relative;
	margin: auto;
	background-color: black;
	border: 3px solid  purple;
	width: 85%;
	height: 500px;
}
.Color{
	background-color: black;
	color: orange;
}
#Button1{
	background-image: url(https://image.gamer.ne.jp/news/2017/20170926/001489a1dcdc6c95aaa3abb2d0c1bd072324/x/i.jpg);
	background-size: 100%;
	margin-left: 6.335px;
	width: 140px;
	height: 100px;
}
#Button2{
	background-image: url(https://image.gamer.ne.jp/news/2017/20170728/00275e5da8bc506c28fae0c155c6bffa4181/x/i.jpg);
	background-size: 100%;
	margin-left: 6.335px;
	width: 140px;
	height: 100px;
}
#Button3{
	background-image: url();
	background-size: 100%;
	margin-left: 6.335px;
	width: 140px;
	height: 100px;
}
#Button4{
	background-image: url();
	background-size: 100%;
	margin-left: 6.335px;
	width: 140px;
	height: 100px;
}
#Character{
	background-image: url(http://pm1.narvii.com/6187/71b0da38c8056cbd38faf3a00dad16d087ba46c1_00.jpg);
	background-repeat: no-repeat;
	font-size: 3px;
}
.text{
	color: white;
	font-size: 48px;
}
#Activity{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	position: relative;
	margin: auto;
	background-color: black;
	border: 3px solid  purple;
	width: 95%;
	height: 114.3px;
	align-content: center;
}
